/.ContractRuntimeModule.java._trace
/.ContractRuntimeModule.xtendbin
/.ContractStandaloneSetup.java._trace
/.ContractStandaloneSetup.xtendbin
/ContractRuntimeModule.java
/ContractStandaloneSetup.java
