body {
	max-width: 1200px;
	text-align: center;
}

.page-content {
	padding: 10px;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.page-content {
	padding: 10px;
	text-align: center;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.ui-g-12 {
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}

.text-input {
	border: solid 1px #e0e0e0;
}

.white-button.ui-button.ui-state-default {
	background-color: #ffffff;
	color: #222222;
	border-color: #d6d6d6;
}

.white-button.ui-button.ui-state-default:enabled:hover, .white-button.ui-button.ui-state-default:focus
	{
	background-color: #f2f2f2;
	border-color: #ccc;
	color: #373a3c;
}

.green-button.ui-button.ui-state-default {
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: #fff;
}

.green-button.ui-button.ui-state-default:enabled:hover, .green-button.ui-button.ui-state-default:focus
	{
	background-color: #4cae4c;
	border-color: #5cb85c;
}

.red-button.ui-button.ui-state-default {
	background-color: #d9534f;
	border-color: #d9534f;
	color: #fff;
}

.red-button.ui-button.ui-state-default:enabled:hover, .red-button.ui-button.ui-state-default:focus
	{
	background-color: #d43f3a;
	border-color: #d9534f;
}

.ui-inputfield {
	margin: 0;
	outline: medium none;
	padding: 4px;
	padding-left: 4px;
	font-weight: normal;
}

.nick {
	width: 130px;
}

.money {
	width: 75px;
}

.textArea {
	font-size: 13px;
}

.buttonsbar {
	height: 50px;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-left-style: hidden;
}

.dialog {
	text-align: justify;
	float: center;
	height: 80%;
	font-size: 17px;
	line-height: 30px;
}